<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leno.jeep.dal.mapper.jeep.JeepUserMapper">
    <resultMap id="BaseResultMap" type="com.leno.jeep.dal.model.JeepUserDO">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_age" jdbcType="TINYINT" property="userAge" />
        <result column="user_sex" jdbcType="TINYINT" property="userSex" />
        <result column="user_hair" jdbcType="VARCHAR" property="userHair" />
        <result column="user_face" jdbcType="VARCHAR" property="userFace" />
        <result column="user_leg" jdbcType="VARCHAR" property="userLeg" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <foreach collection="query.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        user_id,gmt_create,gmt_modified,user_name,user_age,user_sex,user_hair,user_face,user_leg
    </sql>

    <select id="selectByQuery" parameterType="com.leno.jeep.dal.query.JeepUserQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from jeep_user
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from jeep_user where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from jeep_user where user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByQuery" parameterType="com.leno.jeep.dal.query.JeepUserQuery">
        delete from jeep_user
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.leno.jeep.dal.model.JeepUserDO">
        <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into jeep_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="userName != null">
                user_name,
            </if>
            <if test="userAge != null">
                user_age,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userHair != null">
                user_hair,
            </if>
            <if test="userFace != null">
                user_face,
            </if>
            <if test="userLeg != null">
                user_leg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                #{userAge,jdbcType=TINYINT},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=TINYINT},
            </if>
            <if test="userHair != null">
                #{userHair,jdbcType=VARCHAR},
            </if>
            <if test="userFace != null">
                #{userFace,jdbcType=VARCHAR},
            </if>
            <if test="userLeg != null">
                #{userLeg,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.leno.jeep.dal.query.JeepUserQuery" resultType="java.lang.Integer">
        select count(*) from jeep_user
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByQuerySelective" parameterType="map">
        update jeep_user
        <set>
            gmt_modified=now(),
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.userAge != null">
                user_age = #{record.userAge,jdbcType=TINYINT},
            </if>
            <if test="record.userSex != null">
                user_sex = #{record.userSex,jdbcType=TINYINT},
            </if>
            <if test="record.userHair != null">
                user_hair = #{record.userHair,jdbcType=VARCHAR},
            </if>
            <if test="record.userFace != null">
                user_face = #{record.userFace,jdbcType=VARCHAR},
            </if>
            <if test="record.userLeg != null">
                user_leg = #{record.userLeg,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByQuery" parameterType="map">
        update jeep_user set
        user_name = #{record.userName,jdbcType=VARCHAR},
        user_age = #{record.userAge,jdbcType=TINYINT},
        user_sex = #{record.userSex,jdbcType=TINYINT},
        user_hair = #{record.userHair,jdbcType=VARCHAR},
        user_face = #{record.userFace,jdbcType=VARCHAR},
        user_leg = #{record.userLeg,jdbcType=VARCHAR},
        gmt_modified = now()
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.leno.jeep.dal.model.JeepUserDO">
        update jeep_user
        <set>
            gmt_modified=now(),
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                user_age = #{userAge,jdbcType=TINYINT},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex,jdbcType=TINYINT},
            </if>
            <if test="userHair != null">
                user_hair = #{userHair,jdbcType=VARCHAR},
            </if>
            <if test="userFace != null">
                user_face = #{userFace,jdbcType=VARCHAR},
            </if>
            <if test="userLeg != null">
                user_leg = #{userLeg,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
